@import "tailwindcss";
@import "tw-animate-css";

@custom-variant dark (&:is(.dark *));

@theme inline {
  /* -------- Color-Theme --------- */
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --color-card: var(--card);

  --color-card-foreground: var(--card-foreground);
  --color-popover: var(--popover);
  --color-popover-foreground: var(--popover-foreground);
  --color-primary: var(--primary);
  --color-primary-foreground: var(--primary-foreground);
  --color-secondary: var(--secondary);
  --color-secondary-foreground: var(--secondary-foreground);
  --color-muted: var(--muted);
  --color-muted-foreground: var(--muted-foreground);
  --color-accent: var(--accent);
  --color-accent-foreground: var(--accent-foreground);
  --color-destructive: var(--destructive);
  --color-destructive-foreground: var(--destructive-foreground);
  --color-border: var(--border);
  --color-input: var(--input);
  --color-form: var(--form);
  --color-ring: var(--ring);
  --color-chart-1: var(--chart-1);
  --color-chart-2: var(--chart-2);
  --color-chart-3: var(--chart-3);
  --color-chart-4: var(--chart-4);
  --color-chart-5: var(--chart-5);
  --color-sidebar: var(--sidebar);
  --color-datatable-foreground: var(--datatable-foreground);
  --color-datatable-headingColor: var(--datatable-headingColor);
  --color-datatable-rowheadingColor: var(--datatable-rowheadingColor);
  --color-sidebar-foreground: var(--sidebar-foreground);
  --color-sidebar-primary: var(--sidebar-primary);
  --color-sidebar-primary-foreground: var(--sidebar-primary-foreground);
  --color-sidebar-accent: var(--sidebar-accent);
  --color-sidebar-accent-foreground: var(--sidebar-accent-foreground);
  --color-sidebar-border: var(--sidebar-border);
  --color-sidebar-ring: var(--sidebar-ring);
  --color-table: var(--table-bg);
  --color-page-titleColor: var(--page-titleColor);
  --color-skeletoncard: var(--skeletoncard);
  --color-skeleton: var(--skeleton);

  /* -------- Global --------- */
  --font-sans: Open Sans, sans-serif;
  --font-mono: Menlo, monospace;
  --font-serif: Georgia, serif;

  --text-global: var(--global-font-size);
  --text-page-titleSize: var(--page-title-font-size);
  --text-page-description: var(--text-page-description-font);
  --text-table-cell: var(--table-cell-font);

  --radius-sm: calc(var(--radius) - 4px);
  --radius-md: calc(var(--radius) - 2px);
  --radius-lg: var(--radius);
  --radius-xl: calc(var(--radius) + 4px);
}

:root {
  /* -------- Page Title --------- */
  --page-title-font-size: 1.5em;
  --page-titleColor: oklch(30% 0.1 250);
  /* Deep Blue Title */

  /* -------- data-Table --------- */
  --datatable-foreground: oklch(0.628 0.1312 233.87);
  --datatable-headingColor: oklch(30% 0.1 250);
  --datatable-rowheadingColor: oklch(100% 0.00011 271.152);

  --table-bg: #ffffff;
  --table-cell-font: 1em;
  --text-page-description-font: 0.7em;

  --skeletoncard: #ffffff;
  --skeleton: oklch(90% 0.04 230);

  /* -------- MainBackground-Theme --------- */
  --mainbackground: oklch(0.9732 0.013053 251.5574);
  --mainforeground: oklch(25% 0.05 250);
  --scrollbackground: oklch(91.99% 0.03985 251.827);

  /* -------- Background-Theme --------- */
  --background: oklch(100% 0.00011 271.152);
  --foreground: oklch(25% 0.05 250);

  /* -------- Card-Theme --------- */
  --card: oklch(99% 0.01 230);
  --card-foreground: oklch(40% 0.1 250);

  /* -------- Popover-Theme --------- */
  --popover: oklch(100% 0 0);
  --popover-foreground: oklch(25% 0.05 250);

  /* -------- Primary-Theme --------- */
  --primary: oklch(0.628 0.1312 233.87);
  /* Bright Blue */
  --primary-foreground: oklch(100% 0 0);
  --secondary: oklch(35% 0.05 250);
  --secondary-foreground: oklch(100% 0 0);
  --muted: oklch(90% 0.04 230);
  --muted-foreground: oklch(25% 0.05 250);
  --accent: oklch(60% 0.18 250);
  --accent-foreground: oklch(100% 0 0);
  --destructive: oklch(60% 0.25 25);
  /* Red tone for danger */
  --destructive-foreground: oklch(100% 0 0);

  /* -------- Border-Theme --------- */
  --border: oklch(0.628 0.1312 233.87);

  /* -------- Input-Theme --------- */
  --input: oklch(97% 0.02 240);
  --form: rgb(24, 135, 226);
  --ring: oklch(0.628 0.1312 233.87);

  /* -------- Chart-Theme --------- */
  --chart-1: oklch(80% 0.12 250);
  --chart-2: oklch(70% 0.15 240);
  --chart-3: oklch(65% 0.17 230);
  --chart-4: oklch(55% 0.18 220);
  --chart-5: oklch(45% 0.2 210);

  /* -------- Sidebar-Theme --------- */
  --sidebar: oklch(100% 0.00011 271.152);
  --sidebar-foreground: oklch(25% 0.05 250);
  --sidebar-primary: oklch(0.628 0.1312 233.87);
  --sidebar-primary-foreground: oklch(100% 0 0);
  --sidebar-accent: oklch(0.628 0.1312 233.87);
  --sidebar-accent-foreground: oklch(100% 0.00011 271.152);
  --sidebar-border: oklch(0.628 0.1312 233.87);
  --sidebar-ring: oklch(60% 0.18 250);

  /* -------- Global --------- */
  --radius: 1.3rem;
  --global-font-size: 14px;
}

/* Dark Mode */
.dark {
  /* -------- MainBackground-Theme --------- */
  --mainbackground: oklch(0% 0 0);
  --mainforeground: oklch(41.568% 0.0903 250.923);
  --form: oklch(15.434% 0.00002 271.152);
  --skeletoncard: oklch(25% 0.05 250);
  --skeleton: oklch(18% 0.04 250);

  --page-titleColor: oklch(80% 0.15 250);
  --datatable-foreground: oklch(30% 0.05 250);
  --datatable-headingColor: oklch(80% 0.15 250);
  --datatable-rowheadingColor: oklch(100% 0.00011 271.152);
  --table-bg: oklch(25% 0.05 250);
  --background: oklch(10% 0.02 250);
  --foreground: oklch(87.23% 0.01984 240.915);
  --card: oklch(18% 0.04 250);
  --card-foreground: oklch(85% 0.03 240);
  --popover: oklch(12% 0.02 250);
  --popover-foreground: oklch(90% 0.04 230);
  --primary: oklch(60% 0.18 250);
  --primary-foreground: oklch(100% 0 0);
  --secondary: oklch(80% 0.1 240);
  --secondary-foreground: oklch(10% 0.02 250);
  --muted: oklch(22% 0.03 250);
  --muted-foreground: oklch(70% 0.04 230);
  --accent: oklch(60% 0.18 250);
  --accent-foreground: oklch(100% 0 0);
  --destructive: oklch(60% 0.25 25);
  --destructive-foreground: oklch(100% 0 0);
  --border: oklch(0% 0 0);
  --input: oklch(41.568% 0.0903 250.923);
  --ring: oklch(60% 0.18 250);
  --chart-1: oklch(80% 0.12 250);
  --chart-2: oklch(70% 0.15 240);
  --chart-3: oklch(65% 0.17 230);
  --chart-4: oklch(55% 0.18 220);
  --chart-5: oklch(45% 0.2 210);
  --sidebar: oklch(32.382% 0.05237 253.583);
  --sidebar-foreground: oklch(87.23% 0.01984 240.915);
  --sidebar-primary: oklch(60% 0.18 250);
  --sidebar-primary-foreground: oklch(100% 0 0);
  --sidebar-accent: oklch(0% 0 0);
  --sidebar-accent-foreground: oklch(87.23% 0.01984 240.915);
  --sidebar-border: oklch(25% 0.05 250);
  --sidebar-ring: oklch(60% 0.18 250);
}

/* Base Layer */
@layer base {
  * {
    @apply border-border outline-ring/50;
  }

  body {
    @apply bg-background text-foreground;
    letter-spacing: var(--tracking-normal);
  }
}

/* Utilities */
@layer utilities {
  .global-font-size {
    @apply text-[14px];
  }

  .Header_icon {
    @apply bg-sidebar hover:bg-primary hover:text-primary-foreground rounded-[100%] px-[9px] hover:scale-105 transition-all cursor-pointer;
  }

  .Button_class {
    @apply bg-sidebar hover:bg-primary text-sm hover:text-primary-foreground px-4 py-0 transition-all cursor-pointer;
  }
}

/* Scrollbar styles */
.scroll::-webkit-scrollbar {
  width: 6px;
  height: 6px;
  background-color: none;
  border-radius: 4px;
}

.scroll::-webkit-scrollbar-track {
  background: transparent;
  border-radius: 4px;
}

.scroll::-webkit-scrollbar-thumb {
  background-color: var(--scrollbackground);
  /* Tailwind blue-500 */
  border-radius: 4px;
}

.main_height {
  height: calc(100% - 15px);
}

.MainAuthLayout {
  /* background-color: hsl(var(--background)); */
  background-color: var(--mainbackground);
  padding: 1rem;
  font-family: "Inter", sans-serif;
  /* @apply flex w-full items-center justify-center; */
}

.MainLayout {
  /* background-color: hsl(var(--background)); */
  background-color: var(--mainbackground);
  font-family: "Inter", sans-serif;
  /* @apply flex w-full items-center justify-center; */
}

@media (max-width: 768px) {
  .MainAuthLayout {
    padding: 0rem;
  }
}